<div>
    <form class="add-post-form">
        <Div></Div>
        <div>
            <input type="text" class="input" id="post-title">
        </div>
        <div>
            <textarea name="post-content" id="post-content"></textarea>
        </div>
    </form>
</div>